 <label for="metatitle">Metatitle:</label>
    <input type="text" id="metatitle" name="metatitle" placeholder="Enter metatitle" required>

    <label for="image">Upload Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" placeholder="Enter title" required>

    <label for="metadescription">Meta Description:</label>
    <textarea id="metadescription" name="metadescription" placeholder="Enter metadescription..." required></textarea>

    <label for="pagename">Page Name</label>
    <input type="text" id="pagename" name="pagename" placeholder="Enter pagename" required>

    <label for="url">Url:</label>
    <input type="url" id="url" name="url" placeholder="Enter url">

    <label for="heading">Heading:</label>
    <input type="text" id="heading" name="heading" placeholder="Enter heading" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" placeholder="Enter description..." required></textarea>

    <label for="priority">Priority:</label>
    <input type="number" id="priority" name="priority" min="1" max="10" placeholder="Enter priority" required>